# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# test and train data folders, train annotation file
test/
train/
train_annotations.csv

# PyTorch state dicts
*.pt
